# 29th Apr

In [11]:
#Import numerical libraries
import pandas as pd
import numpy as np

#Import graphical plotting libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#Import Linear Regression Machine Learning Libraries
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

In [13]:
data = pd.read_csv(r'C:\Users\LENOVO\Downloads\car-mpg.csv')
data.head()

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino

In [33]:
if 'car_name' in data.columns:
    data = data.drop(['car_name'],axis=1)

In [41]:
if 'origin' in data.columns:
    data['origin'] = data['origin'].replace({1: 'america', 2: 'europe', 3: 'asia'})
    data = pd.get_dummies(data,columns = ['origin'],dtype=int)
data = data.replace('?', np.nan)
data['hp'] = pd.to_numeric(data['hp'],errors='coerce')
data = data.apply(lambda x: x.fillna(x.median()), axis = 0)

In [43]:
data.head()

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130.0,3504,12.0,70,0,1,0,0
1,15.0,8,350.0,165.0,3693,11.5,70,0,1,0,0
2,18.0,8,318.0,150.0,3436,11.0,70,0,1,0,0
3,16.0,8,304.0,150.0,3433,12.0,70,0,1,0,0
4,17.0,8,302.0,140.0,3449,10.5,70,0,1,0,0

# Model Bulding

In [45]:
x = data.drop(['mpg'], axis = 1)
y = data[['mpg']]

In [47]:
x_s = preprocessing.scale(x)
x_s = pd.DataFrame(x_s, columns = x.columns)

y_s = preprocessing.scale(y)
y_s = pd.DataFrame(y_s, columns = y.columns)

In [49]:
data.head()

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130.0,3504,12.0,70,0,1,0,0
1,15.0,8,350.0,165.0,3693,11.5,70,0,1,0,0
2,18.0,8,318.0,150.0,3436,11.0,70,0,1,0,0
3,16.0,8,304.0,150.0,3433,12.0,70,0,1,0,0
4,17.0,8,302.0,140.0,3449,10.5,70,0,1,0,0

In [51]:
y_s

          mpg
0   -0.706439
1   -1.090751
2   -0.706439
3   -0.962647
4   -0.834543
..        ...
393  0.446497
394  2.624265
395  1.087017
396  0.574601
397  0.958913

[398 rows x 1 columns]

In [53]:
# split into train,test set
x_train,x_test,y_train,y_test = train_test_split(x_s,y_s,test_size = 0.30,random_state=1)
x_train.shape

(278, 10)

# Simple Linear Model

In [64]:
# Fit simple linear model and find coeffiecient
regression_model = LinearRegression()
regression_model.fit(x_train,y_train)
for idx,col_name in enumerate(x_train.columns):
    print('the coefficient for {} is {}'.format(col_name,regression_model.coef_[0][idx]))
intercept = regression_model.intercept_
print('The intercept is {}'.format(intercept))

the coefficient for cyl is 0.321022385691611
the coefficient for disp is 0.32483430918483897
the coefficient for hp is -0.22916950059437569
the coefficient for wt is -0.7112101905072298
the coefficient for acc is 0.014713682764191237
the coefficient for yr is 0.3755811949510748
the coefficient for car_type is 0.3814769484233099
the coefficient for origin_america is -0.07472247547584178
the coefficient for origin_asia is 0.044515252035677896
the coefficient for origin_europe is 0.04834854953945386
The intercept is [0.01928412]

# Regularization Linear Regression
# Ridge(L2)

In [67]:
# alpha foctor here is lambda (penalty term) which helps to reduce the magnitude of coeff
ridge_model = Ridge(alpha = 0.3)
ridge_model.fit(x_train,y_train)
print('Ridge model coef: {}'.format(ridge_model.coef_))
# as the data has 10 columns hence 10 coefficents  appear here

Ridge model coef: [[ 0.31649043  0.31320707 -0.22876025 -0.70109447  0.01295851  0.37447352
   0.37725608 -0.07423624  0.04441039  0.04784031]]

# Regularization Lasso Rehression
# Lasso(L1)

In [75]:
# alpha foctor here is lambda (penalty term) which helps to reduce the magnitude of coeff
lasso_model = Lasso(alpha= 0.1)
lasso_model.fit(x_train,y_train)
print('Lasso model coef: {}'.format(lasso_model.coef_))
# as the data has 10 columns hence 10 coefficents  appear here

Lasso model coef: [-0.         -0.         -0.01690287 -0.51890013  0.          0.28138241
  0.1278489  -0.01642647  0.          0.        ]

# Score Comparision

In [83]:
#Model score - r^2 or coeff of determinant
#r^2 = 1-(RSS/TSS) = Regression error/TSS 

# simple Linear Model
print(regression_model.score(x_train,y_train))
print(regression_model.score(x_test,y_test))

print('**************************')
# Ridge
print(ridge_model.score(x_train,y_train))
print(ridge_model.score(x_test,y_test))

print('****************************')
# Lasso
print(lasso_model.score(x_train,y_train))
print(lasso_model.score(x_test,y_test))

0.8343770256960538
0.8513421387780066
**************************
0.8343617931312616
0.8518882171608506
****************************
0.7938010766228453
0.8375229615977083